@keyframes telonPageAnimation {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes levantarTelon {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
  }
  
  .menuPage {
    background-color: blue; 
    height: 100vh; 
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .menuOptions {
    font-size: 50px;
    color: white;
    text-decoration: none;
    margin-left: 50px;
    font-family: 'Roboto';

  }
  
  .menuPageDown {
    animation: telonPageAnimation 0.5s ease-out forwards;
  }
  
  .menuPageUp {
    animation: levantarTelon 0.5s ease-out forwards;
    position: relative; 
    z-index: 10;
  }
  .initialHide {
    display: none;
  }
  .content-page {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .contactInfo {
    position: absolute;
    bottom: 10%;
    display: flex; 
    justify-content: center; 
    width: 100%; 
  }
  
  .contactInfo p {
    color: white;
    font-size: 20px;
    font-family: 'Roboto';
  }
