.container-about-me {
  position: absolute; 
  top: 0px; 
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 10%;
  gap: 3%;
}

.container-about-me > div {
  width: 50%;
}

.photo {
  display: block; 
  width: 90%;
  margin-top: 30%;
}

h1 {
  color: blue;
  font-weight: lighter;
}

@keyframes moveLogos {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}

.technology {
  width: 12%;
  margin: 3%;
  animation: moveLogos 3s infinite; 
  display: inline-block; 
  vertical-align: middle;
}

.links {
  color: blue;
  padding: 40px;
  font-size: 20px;
  font-family: 'Hedvig Letters Sans', sans-serif;
  text-decoration: none;
}