.container-about-me {
  position: absolute; 
  top: 10px; 
  display: flex;
  flex-direction: row;

  margin: 10%;
  gap:7.50%;
}

.container-about-me > div {
  width: 50%;
}

.photo {
  display: block; 
  width: 75%;
  margin: auto;
}

h1 {
  color: blue;
  font-weight: lighter;
}

.technology {
  width: 15%;
  margin: 5%;
  
}

.links {
  color: blue;
  font-size: 2vw;
  text-decoration: none;
  display: block; 
  text-align: center;
  margin: 3%;

}