  .container {
    display: flex;
    flex-direction: column;
  }

  @keyframes bajarTelon {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes levantarTelon {
    from {
      transform: translateY(0);
      
    }
    to {
      transform: translateY(-100%);
    }
  }
  
  .menuPage {
    background-color: blue; 
    height: 100vh; 
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .menu-span {
    position: absolute;
    top: 0;
    right: 0;
    color: white; 
    padding: 40px; 
    font-size: 20px;
    font-family: 'Roboto';
    text-decoration: none;
  }

  .menu-span-blue {
    position: absolute;
    top: 0;
    right: 0;
    color: blue; 
    padding: 40px; 
    font-size: 20px;
    font-family: 'Roboto';
    text-decoration: none;
  }

  
  .menuOptions {
    font-size: 50px;
    color: white;
    text-decoration: none;
    margin-left: 50px;
    font-family: 'Roboto';
  }
  
  .menuPageDown {
    animation: bajarTelon 0.5s ease-out forwards;
  }
  
  .initialHide {
    display: none;
  }
  
  .menuPageUp {
    animation: levantarTelon 0.5s ease-out forwards;
    position: relative; 
    z-index: 10;
  }

  .contactInfo {
    position: absolute;
    bottom: 30px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 100%; 
  }
  
  .contactInfo a {
    color: white;
    font-size: 20px;
    font-family: 'Roboto';
    margin: 10px;
  }
