
.menu-span {
  position: absolute;
  top: 0;
  right: 0;
  color: white; 
  padding: 40px; 
  cursor: pointer; 
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

body {
  font-family: 'Lato', sans-serif;
}

.background-image {
  width: 100%;
  height: auto;
}
